.app {
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  background: black;

  ul {
    display: flex;
    margin: 20px auto;
    padding: 20px;

    li {
      margin-left: 20px;
      list-style-type: none;
      font-size: 24px;

      :hover {
        color: bisque;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .active {
    a {
      color: darkorange !important;
      font-weight: bold;
    }
  }
}



