<div class="search">
  <div class="searchInput">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <h2 *ngIf="!searchTracksList$">Please, enter a song or singer name</h2>
      <input type="text" id="searchInput" formControlName="searchControl">
      <button type="submit" [disabled]="!searchForm.controls['searchControl'].value">search</button>
    </form>
  </div>
  <div class="results" *ngIf="searchTracksList$ | async as searchTracksList">
    <h2 *ngIf="appFacade.isSearchedTracksLoaded$ | async">Found {{ searchTracksList.length }} results</h2>
    <ul>
      <li *ngFor="let el of searchTracksList; index as i">
        <app-track
          [track]="el"
          [index]="i"
          (handleClick)="updateFavoriteList($event)"
        ></app-track>
      </li>
    </ul>
  </div>
  <app-loader *ngIf="appFacade.isSearchedTracksLoading$ | async" class="loader"></app-loader>
</div>
