<div class="favorite">
  <h2>Favorite Tracks</h2>
  <div *ngIf="appFacade.loaded$ | async">
    <ul *ngIf="appFacade.getFavoriteTracks$ | async as favoriteTracks; else emptyFavorite">
      <li *ngFor="let el of favoriteTracks; index as i">
        <app-track
          [track]="el"
          [index]="i"
          (handleClick)="updateFavoriteList($event)"
        ></app-track>
      </li>
    </ul>
    <ng-template #emptyFavorite>
      <h2 class="no-favorite">
        Please add songs to favorite.
      </h2>
    </ng-template>
  </div>

  <app-loader
    *ngIf="appFacade.isFavoriteTracksLoading$ | async"
    class="loader"
  ></app-loader>

</div>
