@use "src/assets/mixins/mixins";

.home {
  @include mixins.page;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,150,171,1) 35%, rgb(0, 255, 208) 100%);

  .loader {
    margin: 0 auto;
    height: 100vh;
  }

  h2, ul {
    text-align: center;
    padding: 20px;
  }

  ul li {
    list-style-type: none;
  }
}
